/* .App { */
  /* text-align: center; */
  /* margin-top: 30vh; */
/* } */

/* .App > img {
  height: 30vh;
  width: auto;
  position: fixed;
  top: 0;
  right: 33%;
} */


.divider-line {
  width: 96%;
  height: 1px;
  z-index: 10;
  position: fixed;
  top: 30vh;
  left: 2%;
  background-color: black;
}