.nav-bar {
  background-color: #ffffff;

  width: 100%;
  height: 24vh;
  /* background-color: #f0f0f0; */
  z-index: 5;
  position: fixed;
  top: 0;
  /* border-bottom: 1px solid black; */

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-bar > img {
  height: 24vh;
  width: auto;
  /* position: fixed;
  top: 0;
  right: 33%; */
}

.nav-container {
  padding: 0 2vh 1vh 0;
  margin: 0 2vh 1vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: fixed */
  justify-content: flex-end;
  /* height: 50%; */
  width: 60%;
}

.nav-container > button {
  margin: 0.5vh 0.5vh;
}

.nav-container > button:hover {
  cursor: pointer;
}
