.nav-bar {
  background-color: #ffffff;
  height: 24vh;
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-bar > img {
  height: 24vh;
  width: auto;
  padding-left: 1vw;
}

.nav-container {
  width: 60%;
  padding: 0 2vh 1vh 0;
  margin: 0 2vh 1vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-container > button {
  margin: 0.5vh 0.5vh;
}

.nav-container > button:hover {
  cursor: pointer;
}
