.article-card {
  display: flex;
  margin: 0 3vw;
}

.article-card > img {
  width: 20vw;
  height: auto;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center; */
  padding: 0 1vh;
  margin: 0 1vh;
}

.article-info > h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1em;
}

.article-info > button {
  width: 50%;
}

.article-info > p {
  font-size: .85em;
}

