.article-card {
  display: flex;
  margin: 0 3vw;
}

.article-card > img {
  width: 20vw;
  height: auto;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1vh;
  margin: 0 1vh;
}

.article-info > div > h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1em;
  padding: 10px 0;
}


.article-info > div > h3 {
  font-size: .85em;
  font-weight: 400;
  color: red;
}

.article-info > div > p {
  font-size: .85em;
}

.article-info > button {
  width: 50%;
}
