.article-details-container {
  width: 40vw;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 0 3vw;
}

.article-details-container > h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2.25em;
  text-align: center;
  width: 65%;
  margin: auto;
}

.article-details-container > h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1em;
}

.article-details-container > img {
  height: auto;
  width: 40vw;
}