.article-details-container {
  width: 40vw;
  height: 100vh;
  /* position: fixed; */
  position: absolute;
  right: 0;
  margin: 0 3vw;
}

.article-details-container > h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2.25em;
  text-align: center;
  width: 65%;
  margin: auto;
}

.detail-info {
  text-align: center;
}

.detail-info > p {
  font-size: .85em;
  text-align: justify;
}

.detail-info > h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.15em;
  text-align: justify;
}

.detail-info > h3 {
  font-size: 1em;
  font-weight: 400;
  padding: 3px 0;
  text-align: justify;
}

.detail-info > a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding-top: 10px;
}

.detail-info > a:hover {
  color: red;
}

.detail-img > img {
  height: auto;
  width: 40vw;
}

.detail-img > p {
  font-size: .75em;
  text-align: right;
}
