main {
  margin-top: 29vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider-line-vertical {
  width: 1px;
  height: 65%;
  position: fixed;
  z-index: 10;
  left: 56vw;
  background-color: black;
}